.contactSection {
    display: flex;
    justify-content: center;
    gap: var(--spacing-md);
    padding: var(--spacing-lg) var(--spacing-md);
    box-sizing: border-box;
    width: 100%;
    flex-wrap: wrap;
}

.imageContainer {
    flex: 1 1 40%;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.image {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    object-fit: contain;
}

.infoContainer {
    flex: 2 1 50%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--spacing-sm) 0;
    padding-left: var(--spacing-xxlg);
}

.title {
    margin: 0;
    margin-bottom: var(--spacing-lg);
}

.name {
    margin: 0;
    margin-bottom: var(--spacing-xs);
    margin-top: auto;
}

.email {
    margin: 0;
    margin-bottom: var(--spacing-md);
    text-decoration: none;
    color: var(--text-primary);
    word-break: break-word;
}

.invite {
    margin: 0;
    margin-bottom: var(--spacing-xs);
    margin-top: auto;
}

.socialIcons {
    display: flex;
    gap: var(--spacing-sm);
    /* push icons to bottom on desktop */
    /* margin-top: auto; */
    margin-bottom: var(--spacing-lg);
}

.socialIcons a {
    font-size: 1.5rem;
    color: inherit;
    transition: transform 0.2s ease;
}

.socialIcons a:hover {
    transform: scale(1.1);
}


@media (max-width: 768px) {
    .contactSection {
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    .imageContainer,
    .infoContainer {
        width: 98%;
        /* max-height: none; */
        /* height: 25vh; */
    }



    .image {
        /* max-width: 100%; */
        height: 60vh;
    }


    .infoContainer {
        align-items: center;
        height: 10vh;
        padding: var(--spacing-sm) 0;
    }
}