.contactFormContainer {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--color-background-secondary);
    box-shadow: 0 4px 10px var(--color-shadow);
    border-radius: 8px;
}

.contactFormContainer h2 {
    color: var(--color-text-primary);
    text-align: center;
}

.contactFormContainer label {
    color: var(--color-text-primary);
    font-weight: bold;
}

.contactFormContainer input,
.contactFormContainer textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    font-size: 16px;
    color: var(--color-text-primary);
    background-color: var(--color-background-secondary);
}

.contactFormContainer button {
    background-color: var(--color-button-bg);
    color: var(--color-button-text);
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

.contactFormContainer button:hover {
    background-color: var(--color-button-bg-hover);
}

.contactFormContainer textarea {
    resize: vertical;
    min-height: 150px;
}

.contactFormFooter {
    text-align: center;
    color: var(--color-text-secondary);
}