body {
    background-color: var(--color-background);
    color: var(--color-text-primary);
}

h1,
h2,
h3 {
    color: var(--color-text-primary);
}

p {
    color: var(--color-text-secondary);
}

a {
    color: var(--color-accent-primary);
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease;

}

a:hover {
    color: var(--color-accent-secondary);
    text-decoration: underline;
}

hr {
    border-color: var(--color-border);
}

img {
    transition: filter 0.3s ease;
}

[data-theme='dark'] img {
    filter: brightness(0.9);
}