/* body {
    background-color: var(--bg-main);
    color: var(--text-primary);
}

.section-about {
    background-color: var(--bg-section-alt);
}

.section-dark {
    background-color: var(--bg-section-dark);
    color: var(--text-light);
}

.button {
    border-radius: 20px;
    background-color: var(--btn-bg);
    color: var(--text-light);
} */