.pageContainer {
    width: 100%;
    max-width: 1200px;
    /* Limit how wide the content gets */
    margin: 0 auto;
    /* Center horizontally */
    padding: 0 24px;
    /* Default side padding */
}

.scrollWrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.scrollContainer {
    display: flex;
    gap: 24px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 24px 0;
    scrollbar-width: none;
    /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollContainer::-webkit-scrollbar {
    display: none;
}

.arrow {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 0 16px;
    color: var(--color-text-primary);
    user-select: none;
}

.sectionTitle {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 24px;
    color: var(--color-text-primary);
}


/* .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    padding: 24px;
}

.sectionTitle {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 24px;
    color: #333;
} */