/* .title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 24px;
    color: var(--color-text-primary);
} */

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    margin-bottom: 24px;
    color: var(--color-text-primary);
    text-align: center;
    width: 100%;
    position: relative;
}

/* .title::before, */
.title::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: var(--color-text-primary);
    margin: 0 16px;
}

.title::before {
    content: '';
    width: 0;
}