/* src/components/SkillsProficiencies/SkillsProficiencies.module.css */
/* @import '../../styles/variables.css'; */

.skillsSection {
    /* background-color: var(--bg-main); */
    color: var(--text-primary);
    padding: var(--spacing-lg);
    box-sizing: border-box;
    width: 100%;
}

/* .heading {
    margin-bottom: var(--spacing-md);
} */

.skillsList {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.skill {
    display: flex;
    flex-direction: column;
}

.skillName {

    margin-bottom: var(--spacing-xs);
}

.progressBar {
    width: 100%;
    height: 20px;
    background-color: var(--bg-section-dark);
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: var(--btn-bg);
    transition: width 0.5s ease-in-out;
}

/* Responsive */
@media (max-width: 768px) {
    /* .heading {

    } */


}